name: Full CI/CD Pipeline to AWS EKS

on:
  push:
    branches:
      - main

env:
  DOCKER_IMAGE: ${{ secrets.DOCKER_USERNAME }}/hello-app
  CLUSTER_NAME: my-cluster
  AWS_REGION: us-east-1
  DEPLOYMENT_NAME: hello-app
  CONTAINER_NAME: hello-app

jobs:

  # ================================
  # CI JOB - Build and Push Docker Image
  # ================================
  build-and-push:

    runs-on: ubuntu-latest

    steps:

    - name: Checkout source code
      uses: actions/checkout@v4


    - name: Login to Docker Hub
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin


    - name: Build Docker image
      run: |
        docker build -t $DOCKER_IMAGE:${{ github.sha }} ./docker


    - name: Push Docker image
      run: |
        docker push $DOCKER_IMAGE:${{ github.sha }}



  # ================================
  # CD JOB - Deploy to AWS EKS
  # ================================
  deploy:

    needs: build-and-push

    runs-on: ubuntu-latest

    steps:

    - name: Checkout source code
      uses: actions/checkout@v4


    # Configure AWS credentials
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}


    # Install kubectl
    - name: Install kubectl
      uses: azure/setup-kubectl@v3
      with:
        version: latest


    # Connect to EKS cluster
    - name: Update kubeconfig for EKS
      run: |
        aws eks update-kubeconfig --region $AWS_REGION --name $CLUSTER_NAME


    # Verify cluster connection
    - name: Verify cluster connection
      run: |
        kubectl get nodes


    # Deploy Kubernetes manifests (first time)
    - name: Apply Kubernetes manifests
      run: |
        kubectl apply -f k8s/


    # Update deployment with new image (rolling update)
    - name: Update deployment image
      run: |
        kubectl set image deployment/$DEPLOYMENT_NAME \
        $CONTAINER_NAME=$DOCKER_IMAGE:${{ github.sha }}


    # Verify rollout
    - name: Verify rollout status
      run: |
        kubectl rollout status deployment/$DEPLOYMENT_NAME


    # Show pods
    - name: Show running pods
      run: |
        kubectl get pods