name: Full CI/CD Pipeline

on:
  push:
    branches:
      - main

env:
  DOCKER_IMAGE: ${{ secrets.DOCKER_USERNAME }}/hello-app

jobs:

  # ========================
  # CI JOB
  # ========================
  build-and-push:

    runs-on: ubuntu-latest

    steps:

    - name: Checkout code
      uses: actions/checkout@v4


    - name: Login to Docker Hub
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin


    - name: Build Docker image
      run: |
        docker build -t $DOCKER_IMAGE:${{ github.sha }} ./docker


    - name: Push Docker image
      run: |
        docker push $DOCKER_IMAGE:${{ github.sha }}



  # ========================
  # CD JOB
  # ========================
  deploy:

    needs: build-and-push

    runs-on: ubuntu-latest

    steps:

    - name: Checkout code
      uses: actions/checkout@v4


    - name: Setup kubectl
      uses: azure/setup-kubectl@v3

      with:
        version: latest


    - name: Setup kubeconfig
      run: |
        mkdir -p ~/.kube
        echo "${{ secrets.KUBE_CONFIG }}" > ~/.kube/config


    - name: Verify cluster connection
      run: |
        kubectl get nodes


    - name: Deploy new image to Kubernetes
      run: |
        kubectl set image deployment/hello-app hello-app=$DOCKER_IMAGE:${{ github.sha }}


    - name: Verify deployment rollout
      run: |
        kubectl rollout status deployment/hello-app