name: Final CI/CD Pipeline

on:
  push:
    branches:
      - main

env:
  IMAGE_NAME: hello-app

jobs:

  ci:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest

    steps:

    - name: Checkout source code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Docker image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/hello-app:latest ./docker

    - name: Push Docker image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/hello-app:latest


  cd:
    name: Deploy to Kubernetes
    needs: ci
    runs-on: ubuntu-latest

    steps:

    - name: Checkout code
      uses: actions/checkout@v3

    - name: Deployment Success Message
      run: |
        echo "Docker image pushed successfully"
        echo "Kubernetes will automatically pull latest image"
